.chat-bots {
    .chatbot-img {
        figure {
            img {
                padding-left: 25px;
            }
        }
    }

    .wp-block-media-text__content {
        padding-top: 15px;
        padding-bottom: 15px;
    }
}    

.picture-recognition {
    margin: 50px 0;
    .ai-img {
        figure {
            img {
                padding-right: 25px;
            }
        }
    }

    .wp-block-media-text__content {
        padding-top: 15px;
        padding-bottom: 15px;
    }
}

.search-engine {
    .search-img {
        figure {
            img {
                padding-left: 25px;
            }
        }
    }

    .wp-block-media-text__content {
        padding-top: 15px;
        padding-bottom: 15px;
    }
}   