#colophon {
    background-color: black;
}

#scroll-up {
    background-color: #00ed00 !important;
    opacity: 1 !important;
}

#scroll-up:hover {
    opacity: 0.5 !important;
}

.copyright {
    font-size: 16px !important;
}

#menu-footer-menu {
    display: flex;
    flex-direction: column;
    li {
        a {
            font-size: 16px;
        }
    }
}