.header {
    background-color: #343a40;
    
    #header-section {
        align-items: center;
        
        .col-12 {
            @media screen and (max-width: 1024px) {
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }

            @media screen and (max-width: 820px) {
                flex-direction: row;
                justify-content: start;
                align-items: center;
            }
        }
    }
    #site-navigation {
        .menu-main-menu-container {
            margin-top: 0;
            .menu-primary-container {
                margin-bottom: 0;
            }
        }
        .menu-toggle {
            margin-top: 0;
        }
    }
    

    #header-logo-image {
        @media  screen and (max-width: 768px) {
            padding-left: 30px;
        }

        @media screen and (max-width: 576px) {
            display: none;
        }
    }

    #header-text {
        padding-top: 10px;
        padding-right: 0;
        
        @media screen and (max-width: 576px) {
            padding-left: 15px;
        }

    }

    #site-title {
        a {
            color: white;
            text-decoration: none;
        }

        a:hover {
            color: white;
            text-decoration: underline;
        }
    }

    #menu-main-menu {
        li {
            a {
                color: white;
                font-size: 20px;
                text-decoration: none;
            }
            
            a:hover {
                color: white;
                text-decoration: underline;
            }
        }
    }


    .menu-toggle::before{
        color: white;
    }

    .menu-main-menu-container {
        margin-top: 50px;
    }
}

.header-img {
    img {
        height: 800px !important;
        object-fit: cover;
    }
}