.image-left {
    background-color: #d3d3d3;
    
    .left-img {
        figure {
            img {
                padding-left: 25px;
                object-fit: contain;

                @media screen and (max-width: 576px) {
                    padding-left: 0;
                }
            }
        }
    }

    .wp-block-media-text__content {
        padding-top: 15px;
        padding-bottom: 15px;
    }
}    

.image-right {
    margin: 50px 0;

    .right-img {
        figure {
            img {
                padding-right: 25px;
                object-fit: contain;

                @media screen and (max-width: 576px) {
                    padding-right: 0;
                }
            }
        }
    }

    .wp-block-media-text__content {
        padding-top: 15px;
        padding-bottom: 15px;
    }
}