html, body {
    max-width: 2500px;
    margin: 0 auto; // Horizontale Zentrierung der Seite
  }

.single-page {
  background-color: black;
}

.inner-wrap {
  max-width: 1800px;
}

@import '../css/bootstrap/bootstrap.min.css';
@import 'header';
@import 'frontpage';
@import 'fonts';
@import 'contact';
@import 'footer';
@import 'pages';
@import 'posts';